<div>
<ul class="navbar-vertical">
	<li><span>Přehled</span></li>
	<li><a href="{{ url_for('MissionView:show', id=mission.id, page='info')}}">Info</a></li>
	<hr>
	<li><span>Zdroje dat</span></li>
	{% for source in mission.data_sources %}
		<li><a href="{{ url_for('MissionView:show', id=mission.id, page='data_' + source) }}">{{ source|capitalize }}</a></li>
	{% endfor %}
	<hr>
	<li><span>Aktivity</span></li>
	{% for action in mission.actions %}
		<li><a href="{{ url_for('MissionView:show', id=mission.id, page='action_' + action)}}">{{ action|capitalize }}</a></li>
	{% endfor %}
</ul>
</div>