<div>
<ul class="navbar-vertical">
	<li><span>Overview</span></li>
	<li><a href="{{ url_for('MissionView:show', id=mission.id, page='info')}}">Mission info</a></li>
	<hr>
	<li><span>Data sources</span></li>
	<li><a href="{{ url_for('MissionView:show', id=mission.id, page='data_facebook')}}">Facebook</a></li>
	<li><a href="{{ url_for('MissionView:show', id=mission.id, page='data_location')}}">Location</a></li>
	<li><a href="{{ url_for('MissionView:show', id=mission.id, page='data_browser')}}">Browser</a></li>
	<hr>
	<li><span>Action</span></li>
	<li><a href="{{ url_for('MissionView:show', id=mission.id, page='action')}}">Login</a></li>
</ul>
</div>