<div style='width: 50%;'>
	<div class="row mt-2 bg-info" style="border-radius: 0.5rem;">
		<img src="{{ comment.author.profile_picture.src }}" style='width: 1.5rem; height: 1.5rem; border-radius: 50%'>
		<div >
			<span class="ml-1">{{ comment.author.full_name }}<br>
			{{ comment.text }}</span>
		</div>
	</div>
</div>