<div class="p-1 pl-4 pb-2 mt-3" style="background-color: grey; border-radius: 1rem">
	<div class="row mt-2" >
		<img src="{{ post.author.profile_picture.src }}" style='width: 3rem; height: 3rem; border-radius: 50%'>
		<span class="ml-1">{{ post.author.full_name }}<br>
		{{ post.created_at }}</span>
	</div>
	<div class="row mt-2">
		{{ post.text }}
	</div>
	{% for comment in post.comments %}
		{% include('data_sources/facebook/_comment.html.j2') %}
	{% endfor %}
</div>