{% extends "base.html.j2" %}

{% block title %}
    Facebook
{% endblock %}

{% block content %}
    <div class="container">
		<div>
			<h1>About you</h1>
			{% include('data_sources/facebook/_about_me.html.j2') %}
		</div>
			<hr>
		<div>
			<h1>Feed</h1>
			{% include('data_sources/facebook/_feed.html.j2') %}
		</div>
    </div>
{% endblock %}
