<div class="{% if message.sender == sender %}
				text-right	
			{% else %}
				text-left
			{% endif %} mt-2"
	 {# style="height: 1.5rem" #}
	 >
	
	<span class="{% if message.sender == sender %}
					bg-dark	text-light
				 {% else %}
					bg-light 
				 {% endif %} mt-4 p-1"
		  style="width: 40rem; border-radius: 0.5rem;">
		{{ message.text }}
		{{ message.created_at }}
	</span>
</div>
