/* colors */
@import "colors.css";

/* icons */
/*@import "icons.css";*/

/* icons */
@import "atomic.css";

/* data sources */
@import "datasources.css";

/* flashes */
@import "flashes.css"

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--info);
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.7;
}

.dev-badge {
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--logo-light-green);
}



/* Mission vertical navbar */
ul.navbar-vertical {
  list-style-type: none;
  background-color: #f1f1f1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*height: 100%;*/
  position: fixed;
  /*overflow: auto;*/
}

ul.navbar-vertical li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

ul.navbar-vertical li span {
  display: block;
  color: #000;
  font-weight: bold;
  padding-left: 1rem;
  /*padding: 0.5rem 1rem;*/
}

ul.navbar-vertical li span.tab-link {
  /*display: block;*/
  /*color: #000;*/
  font-weight: initial;
  padding-left: 3rem;
  padding-right: 1rem;
  /*padding: 0.5rem 4rem;*/
  text-decoration: none;
}

ul.navbar-vertical li span.tab-link[data-active="true"] {
  background-color: var(--logo-blue);
  color: white;
  font-weight: bolder;
}

ul.navbar-vertical li span.tab-link:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Tab switcher*/

.tab[data-active="false"] {
    display: none;
}