/* colors */
@import "colors.css";

/* icons */
/*@import "icons.css";*/

/* icons */
@import "atomic.css";

/* data sources */
@import "datasources.css";

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--info);
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.7;
}

.dev-badge {
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--logo-light-green);
}

/* Flashes */
/*Flashes*/

div.flashes {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: relative;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
}

div.flashes ul li{
    list-style-type: none;
    text-align: center; 
    color: #101010;
}

div.flashes ul li.error{
    color: var(--error);
}

div.flashes ul li.success{
    color: var(--success);
}

div.flashes ul li.info{
    color: var(--info);
}

div.flashes ul li.warning{
    color: var(--warning);
}

div.flashes ul li.debug{
    color: var(--debug);
}

/* Mission vertical navbar */
ul.navbar-vertical {
  list-style-type: none;
  background-color: #f1f1f1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*height: 100%;*/
  position: fixed;
  /*overflow: auto;*/
}

ul.navbar-vertical li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

ul.navbar-vertical li span {
  display: block;
  color: #000;
  font-weight: bold;
  padding-left: 1rem;
  /*padding: 0.5rem 1rem;*/
}

ul.navbar-vertical li a {
  display: block;
  color: #000;
  padding-left: 4rem;
  /*padding: 0.5rem 4rem;*/
  text-decoration: none;
}

ul.navbar-vertical li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.navbar-vertical li a:hover:not(.active) {
  background-color: #555;
  color: white;
}