{% extends "base.html.j2" %}

{% block title %}
    Vítejte na stránkách projektu Digitální stopa
{% endblock %}

{% block content %}
    <div class="container font-montserrat">
        <div class="mb-5 mt-5 text-center">
            <p class="mb-2">
                <h2 class="mt-2 text-uppercase color-blue font-comfortaa-bb">Co je Digitální stopa?</h2>
                Prostředí pro interaktivní seznámení s problematikou digitální stopy, osobních dat, jejich možného zneužití a ochrany.<br>
            </p>

            <p>
            	Tato aplikace je zatím ve fázi prototypu. Pokud ji chcete vyzkoušet, můžete začít na ukázkové <a href="{{ url_for('MissionView:show', id=1) }}">misi</a>, nebo se podívat na <a href="{{ url_for('MissionView:index') }}"></a> přehled aktuálně nabízených misí
            </p>
        </div>
    </div>
{% endblock %}
